{% extends 'chatisha_kca/index.html' %}
{% load static %}

{% block content %}
       <div class="container">
        <h2>Login Form</h2>
        <form method="post">
            {% csrf_token %}
            {{ log_form.as_p }}
            <button type="submit" class="btn btn-primary w-100">Login</button>
        </form>
        <p>Forgot Password?</p>
        <a href="{% url 'password_reset' %}">Reset</a>
        <p>Don't have an account?</p>
        <a href="{% url 'chatisha_kca:register' %}">Register</a>
    </div>
{% endblock content %}
 