{% extends 'chatisha_kca/index.html' %}
{% load static %}

<!--CSS-->
{% block css %}
<link rel="stylesheet" href="{% static 'chatisha_kca/login.css' %}">
{% endblock css %}

{% block content %}
   <div class="d-flex justify-content-center align-items-center vh-100">
        <div class="card shadow-lg border-0 p-4 login-card rounded-2 w-100">
            <h5 class="fw-bold text-uppercase login-title text-center">Password Reset link</h5>
            <p class="text-center text-muted small">
                Check your email for the password reset link.
            </p>
        </div>
    </div>
{% endblock content %}


   
