{% extends 'chatisha_kca/index.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'chatisha_kca/password-reset-complete.css' %}">
{% endblock css %}

{% block content %}
<div class="d-flex justify-content-center align-items-center vh-100">
    <div class="card shadow-lg p-4 text-center reset-complete-card w-100">
        <h5 class="fw-bold text-uppercase p-reset-title">Password Reset successfully</h5>
        <p class="text-muted mb-3">You can now login using your new password</p>
        <a href="{% url 'chatisha_kca:login' %}" class="btn btn-login text-light w-100">Login</a>
    </div>
</div>
{% endblock content %}

    
