.btn-login {
    background-color: #182b5c !important;
}

.btn-login:hover {
    background-color: #d0b126 !important;
}

.reset-complete-card {
    max-width: 450px;
}

.p-reset-title {
    color: #182b5c;
}