.reset-link {
    background-color: #182b5c !important;
}

.reset-link:hover {
    background-color: #d0b126 !important;
}

.reset-password {
    color: #182b5c;
}

.back-login {
    color: #d0b126;
}
.card {
    max-width: 420px;
}
