.top-nav-bg {
    background-color: #182b5c;
}

.bg-logout {
    background-color: #d0b126;
}

.side-nav-bg {
    background-color: #d0b126;
}

.fw-semibold, .fw-bold {
    color: #182b5c;
}

.concern-table {
  border: 1px solid #d0b126;
  border-collapse: collapse;
}

.concern-table th,
.concern-table td {
  border: 1px solid #d0b126;
}

.concern-summary {
    color: #182b5c;
}

.concern-table th {
    color: #fff;
}

.concern-table th {
    background-color: #182b5c;
}

.footer-bg {
  background-color: #002855; 
}

/* SUBMIT ISSUE */
.btn-submit, .btn-delete {
    background-color: #002855;
}

.btn-submit:hover, .btn-delete:hover {
    background-color: #d0b126;
}

/* FAQ */
.faq-container {
        max-width: 700px;
    }

    .faq-answer {
        display: none;
        padding: 10px 0 0 5px;
    }

    .faq-item.active .faq-answer {
        display: block;
    }

    .faq-icon {
        transition: transform 0.3s ease;
    }

    .faq-item.active .faq-icon {
        transform: rotate(180deg);
    }

    .card-summary {
        transition: all 0.3s ease;
        cursor: pointer;
    }

    .card-summary:hover {
        transform: translateY(-5px) scale(1.03);
        box-shadow: 0 0.75rem 1rem rgba(0, 0, 0, 0.15);
    }

    .card-summary:active {
        transform: scale(0.98);
    }

    .noti-card {
        width: 300px; 
        max-height: 300px; 
        overflow-y: auto; 
    }