{% extends 'chatisha_kca/index.html' %}
{% load static %}

{% block content %}
    <p>Hello {{ user.username }} you are logged in as {{ user.get_role_display }}

    <!--SHOW SUCCESS & ERROR MESSAGE-->
    {% for message in messages %}
        {% if message %}
            {{ message }}
        {% endif %}
    {% endfor %}
    
    <div>
        <nav>
            <ul>
                <li><a href="#">Dashboard</a></li>
                <li><a href="#">User Complaints</a></li>
                <li><a href="{% url 'chatisha_kca:dean-vc-hod-dashboard' %}">All Complaints</a></li>
                <li><a href="{% url 'chatisha_kca:dean-vc-hod-dashboard-filter' 'pending' %}">Pending</a></li>
                <li><a href="{% url 'chatisha_kca:dean-vc-hod-dashboard-filter' 'resolved' %}">Resolved</a></li>
                <li><a href="{% url 'chatisha_kca:dean-vc-hod-dashboard-filter' 'forwarded' %}">Forwarded</a></li>
                <li><a href="#">Reports</a></li>
                <li><a href="{% url 'chatisha_kca:logout' %}">Logout</a></li>
            </ul>
        </nav>
    </div>

    <!-- Notification Bell -->
    <div>
        🔔 {% if unread_count > 0 %}<span>{{ unread_count }}</span>{% endif %}
    </div>
    <div class="notification-dropdown">
        <ul>
            {% for notif in notifications %}
            <li>
                <a href="{% url 'chatisha_kca:view-notification' notif.id %}"
                    class="{% if not notif.is_read %} unread {% endif %}">
                    {{ notif.message }}
                </a>
                <small>{{ notif.created_at|timesince }} ago</small>
            </li>
            {% empty %}
            <li>No notifications yet.</li>
            {% endfor %}
        </ul>
    </div>

    <div>
        <h2>DASHBOARD</h2>
        <p>All Concerns: <small>{{ total_issue }}</small></p>
        <p>Pending: <small>{{ total_pending }}</small></p>
        <p>Resolved: <small>{{ total_resolved }}</small></p>
        <p>Forwarded: <small>{{ total_forwarded }}</small></p>
    </div>

    <!--ALL SUBMITTED ISSUES-->
    <h2>Submitted Issues</h2>

    <table border="1">
        <tr>
            <th>From</th>
            <!-- <th>Department</th> -->
            <th>Title</th>
            <th>Description</th>
            <th>Priority</th>
            <th>Status</th>
            <th>Date Submitted</th>
            <th>Action</th>
            <th>Response</th>
        </tr>
        {% for issue in submitted_issues %}
        <tr>
            <td>{{ issue.user.username }}</td>
            <!-- <td>{{ issue.get_department_display }}</td> -->
            <td>{{ issue.title }}</td>
            <td>{{ issue.description }}</td>
            <td>{{ issue.get_priority_display }}</td>
            <td>{{ issue.get_status_display }}</td>

            <td>{{ issue.date_submitted }}</td>
            <td>
                <a href="{% url 'chatisha_kca:issue-detail' issue.pk %}">
                    <button type="button">View</button>
                </a>
            </td>

            <td>
                {% if issue.response %}
                {{ issue.response }} <br>
                <small>
                    By {{ issue.responded_by.get_role_display }} On {{ issue.response_date }}
                </small>
                {% elif issue.status == "pending" %}
                <small>
                    Waiting for response <br>
                </small>
                {% elif issue.status == "forwarded" and issue.forwarding_history.all %}

                {% for f in issue.forwarding_history.all %}
                <small>
                    Forwarded by {{ f.forwarded_by.get_role_display }}
                    → {{ f.forwarded_to.get_role_display }}
                </small>

                {% if f.note %} <br>Reason: {{ f.note }}{% endif %}<br>
                On: {{ f.date_forwarded }}
                {% endfor %}
                {% endif %}
            </td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="7">No issues submitted yet.</td>
        </tr>
        {% endfor %}
    </table>
{% endblock content %}
    