{% extends 'chatisha_kca/index.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'chatisha_kca/stakeholder.css' %}">
{% endblock css %}

{% block content %}
<div class="faq-container shadow-sm border bg-white rounded-1 p-4 mt-5 mb-5 m-auto">
    <h4 class="text-center fw-bold text-uppercase mb-4">Frequently Asked Questions</h4>

    {% for faq in faqs %}
    <div class="faq-item border-bottom border-warning py-2 px-3" role="button">
        <div class="d-flex justify-content-between align-items-center fw-semibold small">
            {{ faq.question }}
            <span class="faq-icon small">▼</span>
        </div>
        <div class="faq-answer small">
            {{ faq.answer }}
        </div>
    </div>
    {% empty %}
    <p class="text-center text-muted">No FAQs available yet.</p>
    {% endfor %}
</div>

<script src="{% static 'javascript_files/stakeholder.js'%}"></script>
{% endblock content %}
