{% extends 'chatisha_kca/index.html' %}
{% load static %}

{% block content %}

    <p>Hello {{ user.username }} you are logged in as {{ user.get_role_display }}</p>
    <!-- get_FIELNAME_display to show the human-readable value. -->


    <!--SHOW SUCCESS & ERROR MESSAGE-->
    {% for message in messages %}
        {% if message %}
            {{ message }}
        {% endif %}
    {% endfor %}    

    <div>
        <nav>
            <ul>
                <li><a href="#">Dashboard</a></li>
                <li><a href="{% url 'chatisha_kca:stake-holders-dashboard' %}">All Concerns</a></li>
                <li><a href="{% url 'chatisha_kca:stake-holders-dashboard-filter' 'pending' %}">Pending</a></li>
                <li><a href="{% url 'chatisha_kca:stake-holders-dashboard-filter' 'resolved' %}">Resolved</a></li>
                <li><a href="{% url 'chatisha_kca:stake-holders-dashboard-filter' 'forwarded' %}">Forwarded</a></li>
                <li><a href="{% url 'chatisha_kca:submit-issue' %}">Submit New Concern</a></li>
                <li><a href="{% url 'chatisha_kca:faq' %}">FAQ</a></li>
                <li><a href="{% url 'chatisha_kca:logout' %}">Logout</a></li>
            </ul>
        </nav>

    </div>

    <!-- Notification Bell -->
    <div>
        🔔 {% if unread_count > 0 %}<span>{{ unread_count }}</span>{% endif %}
    </div>
    <div class="notification-dropdown">
        <ul>
            {% for notif in notifications %}
            <li>
                <a href="{% url 'chatisha_kca:view-notification' notif.id %}"
                    class="{% if not notif.is_read %} unread {% endif %}">
                    {{ notif.message }}
                </a>
                <small>{{ notif.created_at|timesince }} ago</small>
            </li>
            {% empty %}
            <li>No notifications yet.</li>
            {% endfor %}
        </ul>
    </div>


    <div>
        <h2>DASHBOARD</h2>
        <p>All Concerns: <small>{{ total_issue }}</small></p>
        <p>Pending: <small>{{ total_pending_issue }}</small></p>
        <p>Resolved: <small>{{ total_resolved_issue }}</small></p>
        <p>Forwarded: <small>{{ total_forwarded_issue }}</small></p>
    </div>

    <h3>My Submitted Issues</h3>
    <table border="1" cellpadding="5">
        <tr>
            <th>Department</th>
            <th>Title</th>
            <th>Description</th>
            <th>Priority</th>
            <th>Status</th>
            <th>Date Submitted</th>
            <th>Response</th>
            <th>Action</th>
        </tr>
        {% for issue in my_issues %}
        <tr>
            <td>{{ issue.get_department_display }}</td>
            <td>{{ issue.title }}</td>
            <td>{{ issue.description }}</td>
            <td>{{ issue.priority }}</td>
            <td>{{ issue.status }}</td>
            <td>{{ issue.date_submitted }}</td>

            <td id="issue-{{ issue.id }}">
                {% if issue.response %}
                {{ issue.response }} <br>
                <small>
                    By {{ issue.responded_by.get_role_display }} On {{ issue.response_date }}
                </small>
                {% elif issue.status == "pending" %}
                <small>
                    Waiting for response <br>
                </small>
                {% elif issue.status == "forwarded" and issue.forwarding_history.all %}

                {% for f in issue.forwarding_history.all %}

                <small>
                    Forwarded by {{ f.forwarded_by.get_role_display }}
                    → {{ f.forwarded_to.get_role_display }}
                </small>

                {% if f.note %} <br>Reason: {{ f.note }}{% endif %}<br>
                On: {{ f.date_forwarded }}
                {% endfor %}
                {% endif %}
            </td>
            <td><a href="{% url 'chatisha_kca:delete-resolved-issue' issue.pk %}"><button>delete</button></a></td>

        </tr>
        {% empty %}
        <tr>
            <td colspan="5">No issues submitted yet.</td>
        </tr>
        {% endfor %}
    </table>

{% endblock content %}